@using Inje.AIConvergence.Shared
@using Inje.AIConvergence.Common
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
  ViewData["Title"] = "Services gRPC";
  string? greeting = ViewData["greeting"] as string;
}
<div class="text-center">
   <h1 class="display-4">@ViewData["Title"]</h1>
   @if (ViewData["greeting"] != null)
   {
    <p class="alert alert-primary">@greeting</p>
   }
  @if (ViewData["shipper"] != null)
  {
    Inje.AIConvergence.Shared.Shipper? shipper = ViewData["shipper"] as Inje.AIConvergence.Shared.Shipper;
    <p class="alert alert-danger">
      ShipperId: @shipper?.ShipperId, CompanyName: @shipper?.CompanyName, Phone: @shipper?.Phone
    </p>
  }
</div>