@using Inje.AIConvergence.Blazor.Customers.Data
@using Inje.AIConvergence.Blazor.Customers.Shared
@page "/createcustomer_new"
@inject INorthwindService service
@inject NavigationManager navigation

<h3>CreateCustomer</h3>
<CustomerDetail ButtonText="Create Customer"
                 Customer="@customer"
                 OnValidSubmit="@Create" />

@code {
  private Customer customer = new();
  private async Task Create()
  {
    await service.CreateCustomerAsync(customer);
    navigation.NavigateTo("customers");
  }
}
