@page
@functions
{
  public string? DayName { get; set; }
  public void OnGet()
  {
    ViewData["Title"] = "Inje Universty AI Convergence B2B";
    Model.DayName = DateTime.Now.ToString();
  }
}
<div class="jumbotron">
  <h1 class="display-3">Welcome to Inje University AI Comvergence B2B</h1>
  <p class="lead">We supply products to our customers.</p>
  <hr />
  <p>It's @Model.DayName! Our customers include restaurants, hotels, lectures, and cruise lines.</p>
  <p>
    <a class="btn btn-primary" href="suppliers">Learn more about our suppliers</a>
  </p>
  <p>
    <a class="btn btn-primary" href="AIConvergenceFeatures/Employees">Contact our Employees</a>
  </p>
</div>
