@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">2023년 1학기 독후감 경진대회 홈페이지</h1>
  <p>처음 접속하신 분은 <a href="/Identity/Account/Register">등록</a>하시기 바랍니다.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
